version: '3.8'

services:
  mysqldb:
    image: mysql:8.0
    container_name: eyewear_mysql_container
    restart: always
    ports:
      - "3307:3306"
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: eyewear_shop_db
      MYSQL_USER: sentify_store
      MYSQL_PASSWORD: 12345
    volumes:
      - db_data:/var/lib/mysql

  backend:
    build: .
    container_name: eyewear_backend_container
    restart: always
    ports:
      - "8080:8080"
    depends_on:
      - mysqldb
    environment:
      SPRING_PROFILES_ACTIVE: docker
      JWT_SECRET: mysecret
      JWT_EXPIRATION: 3600000
      EMAIL_NAME: yourmail@gmail.com
      EMAIL_PASSWORD: yourpassword

volumes:
  db_data:
